.filebox
{
	margin-left: 5px;
}

.filebox input[type="file"] 
{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label 
{
    display: inline-block;
    padding: 10px 14px;
    color: #999;
    font-size: inherit;
    /* line-height: normal; */
    /* vertical-align: middle; */
    /* background-color: #fdfdfd; */
    cursor: pointer;
    /* border: 1px solid #ebebeb; */
    /* border-bottom-color: #e2e2e2; */
    border-radius: 5px;
    margin: 8px 0;
}

/* named upload */
.filebox .upload-name 
{
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label 
{
  	color: #fff;
    background-color: #797979;
    /* border-color: #2e6da4;*/
}



/**/
input[type="number"]
{
	background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 5px 4px;
}

input[type="text"]
{
	background-color: #fff;
    padding-left: 5px;
    height: 36px;
    border-radius: 5px;
}

textarea
{
	margin: 12px 2px;
}

/*실험*/
body {margin: 10px;}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 

/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

/*실험*/